In [1]:
import pandas as pd
df = pd.read_csv('pokemon.csv')
df = df[:151]

In [2]:
filter = ['name', 'type1', 'type2', 'is_legendary']
df = df[filter]
df.head()

         name  type1   type2  is_legendary
0   Bulbasaur  grass  poison             0
1     Ivysaur  grass  poison             0
2    Venusaur  grass  poison             0
3  Charmander   fire     NaN             0
4  Charmeleon   fire     NaN             0

In [3]:
df.loc[df['is_legendary'] & ((df['type1'] == 'flying') | (df['type2'] == 'flying'))]

         name     type1   type2  is_legendary
143  Articuno       ice  flying             1
144    Zapdos  electric  flying             1
145   Moltres      fire  flying             1

In [4]:
df.loc[df['is_legendary'] & ((df['type1'] != 'flying') & (df['type2'] != 'flying'))]

       name    type1 type2  is_legendary
149  Mewtwo  psychic   NaN             1
150     Mew  psychic   NaN             1